body{
  font-family: sans-serif;
}

#header{
  background-color: rgb(24, 88, 205);
  text-align: center;
  font-size: 10px;
  color: yellow;
  display: block;
  position: fixed;
  right: 33%;
  left: 33%;
  top: 0;
  height:25%;
  width: 34%;
}

#header div{
  display: inline;
  width: 100%
}

#header h1{
  display: inline;
  width: 80%
}

#pricecoLogo{
  display: inline-block;
  left: 0;
  height: 50%;
  width: auto;
}

#navigation{
  background-color: rgb(102, 217, 255);
  text-align: center;
  position: fixed;
  display: block;
  right: 33%;
  left: 33%;
  bottom: 0;
  height: 75%;
  width: 34%
}

#productsColA{
  background-color: rgb(157, 208, 225);
  text-align: center;
  left:0;
  top: 0;
  display: block;
  position: fixed;
  width: 33%;
  height: 100%;
  overflow: scroll;
}

#productsColB{
  background-color: rgb(157, 208, 225);
  text-align: center;
  right:0;
  top: 0;
  display: block;
  position: fixed;
  width: 33%;
  height: 100%;
  overflow: scroll;
}

.productImg{
  width: 200px;
  height: auto;
}

.navButton{
  text-align: center;
  display: block;
  font-size: 30px;
  margin: 30px;
}

.styleButton{
  background-color: rgba(77, 77, 77, 0.5);
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  width: 70px;
  bottom: 0;
  margin: 5px;
  padding: 10px;
  text-align: center;
}
/*Button_Full_length = 5 + + 10 + 60 + 5 + 5 + 15 = 100*/
/*Button_Full_length = margin + padding + width + neighbor_margin + space = total */

#styleA{
  left: 0;
  position: fixed;
}

#styleB{
  left: 100px;;
  position: fixed;
}

#styleC{
  left: 200px;;
  position: fixed;
}
